Building from sources
-------------------

    git clone https://github.com/ssledz/fluent-dbunit.git
    cd cd fluent-dbunit
    mvn package

Dependencies
----------

    <repositories>
        <repository>
            <id>mvn.repo</id>
            <url>https://github.com/ssledz/mvn-repo/raw/master</url>
        </repository>
    </repositories>

    <dependencies>
        <dependency>
            <artifactId>fluent-dbunit</artifactId>
            <version>1.0</version>
            <scope>test</scope>
        </dependency>
    </dependencies>

Filling account table with 3 rows of data
------------------------------------------------

    DBLoader.forDB(ds).cleanInsert(dataSet(table("account", //
                cols("id", "login"), //
                row("1", "Login1"), //
                row("2", "Login2"), //
                row("3", "Login3") //
    )));


Printing the content of the table
----------------------------------

    System.out.println(DBUtils.dataSet2String(DBExporter.forDB(ds).table("account").getDataSet()));

out:

    Table: account

    |ID                       |LOGIN                    |
    |1                        |Login1                   |
    |2                        |Login2                   |
    |3                        |Login3                   |
